<!-- Trong file views/user_mailer/registration_confirmation.html.erb -->
<p>Vui lòng nhấp vào liên kết sau để cập nhật thông tin người dùng:</p>
<p><%= link_to(@confirmation_url) do %>
  <%= @confirmation_url %>
<% end %></p>

