<p>Xin chào <%= @user.email %>!</p>
<p>Bạn đã đăng ký thành công. Vui lòng xác nhận đăng ký bằng cách truy cập đường dẫn sau:</p>
<p><%= edit_user_registration_url(confirmation_token: @user.confirmation_token) %></p>
