<!-- Trong file views/user_mailer/registration_confirmation.html.erb -->
<p>Vui lòng nhấp vào liên kết sau để cập nhật thông tin người dùng:</p>
<p><a href="<%= @confirmation_url %>">Cập nhật thông tin</a></p>
