<div>
    <div class="p-5">
        <h4>City list</h4>
        <div class="row d-flex justify-content-center">
            <a class="col-md-4 text-center border" href="">Viet nam</a>
            <a class="col-md-4 text-center border" href="">international</a>
        </div>
    </div>
    <div class="p-5">
        <h4>Viet Nam</h4>
        <div class="row p-5 ">
            <h3>Top Cities</h3>
            <% @topCities.each.with_index do |item| %>
              <div class="col-md-4  d-flex justify-content-center pb-3">
                <div class="single_company border mx-auto" style="width: 70%;">
                  <a href="jobs.html">
                    <h3 class="bold"><%= item.name %></h3>
                  </a>
                  <p><%= item.job_count %></p>
                </div>
              </div>
            <% end %>
          </div>
    </div>
</div>