.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 40%);
  }
  
  .tabs {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    color: white;
    justify-content: space-between;
  }
  
  .tabs__label {
    padding: 3px 25px;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: #b981de;
    font-weight: bold;
  }
  
  .tabs__radio {
    display: none;
  }
  
  .tabs__radio:checked + .tabs__label {
    color: white;
    background-image: linear-gradient(to right, #9f20e8, #e820db);
  }
  
  .tabs__radio:checked + .tabs__label + .tabs__content {
    display: initial;
  }
  
  .tabs__content {
    order: 1;
    width: 100%;
    height: 400px;
    display: none;
    background-color: #b981de;
    padding: 0px 20px;
    border-radius: 5px;
    margin-top: 5px;
    position: relative;
  }
  
  .tabs__content p {
    text-align: justify;
  }
  
  .tabs__content .group__form {
    text-align: center;
  }
  
  .tabs__content .group__form div {
    padding: 5px 0px;
  }
  
  .tabs__content .group__form .text__content input {
    width: 100%;
    height: 40px;
  }
  
  .tabs__content .group__form .submit {
    padding: 3px 30px;
    font-size: 1.2rem;
    background-image: linear-gradient(to right, #9f20e8, #e820db);
    border: none;
    border-radius: 10px;
  }
  
  .tabs__content .profile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .tabs__content .profile .profile__img img {
    width: 100%;
    max-height: 250px;
    height: auto;
    border-radius: 50%;
  }
  
  .custom-file-upload {
    display: inline-block;
    padding: 6px 30px;
    cursor: pointer;
    border-radius: 4px;
    margin: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    background-image: linear-gradient(to right, #9f20e8, #e820db);
  }
  
  .tabs__content .profile .input__file {
    text-align: center;
  }
  
  .custom-file-upload input[type="file"] {
    display: none;
    text-align: center;
  }
  
  /* css phần hình tam giác */
  .container {
    position: relative;
  }
  
  .click {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #b981de;
  }
  
  .click__top {
    position: fixed;
    top: -38.4px;
    left: 30%;
    width: 40%;
  }
  /* define the animation to move the hidden footer up */
  @keyframes up {
    0% {
      bottom: -38.4px;
    }
    100% {
      bottom: 0%;
    }
  }
  
  /* define the animation to move the menu down */
  @keyframes down {
    from {
      top: -38.4px;
    }
    to {
      top: 0%;
    }
  }
  
  /* hide the two checkboxes used to reveal the footer and the menu */
  #checkfooter,
  #checkmenu {
    display: none;
  }
  
  /* style the top button */
  .click__top-button {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: rotate(180deg);
  }
  
  /* style the bottom container */
  .click__bottom {
    position: fixed;
    bottom: -38.4px;
    left: 30%;
    width: 40%;
  }
  
  /* style the footer */
  .click__bottom-footer {
    color: #fff;
    text-align: center;
    background-color: #b981de;
    padding: 10px 30px;
    width: auto;
    border-radius: 7px 7px 0px 0px;
  }
  
  /* style the bottom button */
  .click__bottom-button {
    position: absolute;
    left: 50%;
    bottom: 100%;
  }
  
  /* style the menu container */
  nav {
    background-color: #b981de;
    border-radius: 0px 0px 7px 7px;
  }
  
  /* style the menu list */
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  /* style the menu items */
  li {
    text-align: center;
  }
  
  /* style the menu links */
  li a {
    display: block;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 30px;
  }
  
  /* style the hover effect on the menu links */
  li:hover a {
    background-image: linear-gradient(to right, #9f20e8, #e820db);
  }
  
  /* apply the up animation when the footer checkbox is checked */
  #checkfooter:checked ~ .click__bottom {
    animation: up 1.5s forwards;
  }
  
  /* apply the down animation when the menu checkbox is checked */
  #checkmenu:checked ~ .click__top {
    animation: down 1s forwards;
    color: aqua;
  }
  