/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
    
.img {
  width: 100%;
  height: 100%;
}
.copy-right-sec{
  padding: 1.8rem;
    background: #28a347;
    color: #fff;
    text-align: center;
}
.copy-right-sec a{
  color: #fcd462;
    font-weight: 500;
}
a{
  text-decoration:none;
}
.btn-big{
  width: 220px;
  height: 220px;
}
.btn-se{
  width: 220px;
  height: 18ppx;
}
.pd{
  padding: 122px 0 122px 0;
}
#copy-right{
  position: fixed;
  bottom: 0;
  width: 100%;
}
.logo{
  height: 136px;
  width: 293px;
}

