<p>You're on your way!	</p>

<p>Let's confirm your email address.</p>

<p><a href="<%= edit_user_registration_url(confirmation_token: @user.confirmation_token) %>">http://localhost:3000/registration/3?code=<%= @user.confirmation_token%></a></p>

<p>By clicking on the following link, you are confirming your email address and agreeing to VeNJOB's Terms of Service.</p>
																		
																