<p>You're on your way!	</p>

<p>Let's confirm your email address.</p>

<%= registration_3_url(confirmation_token: @user.confirmation_token) %>

<p>By clicking on the following link, you are confirming your email address and agreeing to VeNJOB's Terms of Service.</p>
																		
																